<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>

    <form action="/auth/change-password" method="post">
        <label for="oldPassword">Old Password</label>
        <input type="password" name="oldPassword" id="oldPassword" required>

        <br><br>

        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" required>

        <br><br>

        <label for="confirmPassword">Confirm Password</label>
        <input type="confirmPassword" name="confirmPassword" id="oldPassword" required>

        <button type="submit">Change Password</button>
    </form>
</body>
</html>