<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <label for="username">Username</label>
        <input name="username" id="username" type="text">

        <br><br>

        <label for="password">Password</label>
        <input name="password" id="password" type="text">

        <br><br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>