<nav>
        <% if (user) { %>
            <button><a href="/users/profile">Profile</a></button>
            <form action="/auth/logout" method="post" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
        <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/sign-up">Sign Up</a></li>
        <% } %>
</nav>