<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Game</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <h1>Add a New Game</h1>

    <form action="/games" method="post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input name="title" id="title" required>

        <br><br>

        <label for="platform">Platform</label>
        <select name="platform" required>
            <option disabled selected value="">Select Platform</option>
            <option value="Playstation">Playstation</option>
            <option value="Xbox">Xbox</option>
            <option value="PC">PC</option>
            <option value="Nintendo Switch">Nintendo Switch</option>
            <option value="Mobile">Mobile</option>
        </select>

        <br><br>

        <label>Genre:</label>
        <input name="genre">

        <br><br>

        <label>Release Year:</label>
        <input type="number" name="releaseYear" min="1980" max="2025">

        <br><br>

        <label>Developer:</label>
        <input name="developer">

        <br><br>

        <label>Status:</label>
        <select name="status">
            <option>Want to Play</option>
            <option>Playing</option>
            <option>Completed</option>
            <option>Abandoned</option>
        </select>

        <br><br>

        <label>Rating (1–5):</label>
        <input type="number" name="userRating" min="1" max="5">

        <br><br>

        <label>Review:</label>
        <textarea name="userReview"></textarea>

        <br><br>

        <label>Notes:</label>
        <textarea name="notes"></textarea>

        <br><br>

        <label>Upload Image:</label>
        <input type="file" name="image" accept="image/*">

        <br><br>

        <button type="submit">Create Game</button>
</body>
</html>