<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Game</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/gameForm.js" defer></script>
</head>
<body>
    <%- include('../partials/navbar') %>

    <main>
        <div class="game-form-container">
            <form action="/games" method="post" enctype="multipart/form-data" class="game-form">
                <label for="gameImageUpload" class="game-image-wrapper">
                    <img id="gameImagePreview" src="/images/logo-no-text.png" alt="Game Image Preview">
                    <input type="file" id="gameImageUpload" name="image" accept="image/*" hidden>
                </label>

                <input type="text" name="title" placeholder="Title" class="game-input" required>

                <div class="game-input-row">
                    <select name="platform" class="game-input" required>
                        <option disabled selected value="">Platform</option>
                        <option value="Playstation">Playstation</option>
                        <option value="Xbox">Xbox</option>
                        <option value="PC">PC</option>
                        <option value="Nintendo Switch">Nintendo Switch</option>
                        <option value="Mobile">Mobile</option>
                    </select>

                    <input type="text" name="genre" placeholder="Genre" class="game-input">
                </div>

                <div class="game-input-row">
                    <input type="number" name="releaseYear" min="1980" max="2025" placeholder="Release Year" class="game-input">
                    <input type="text" name="developer" placeholder="Developer" class="game-input">
                </div>

                <div class="game-input-row">
                    <select name="status" class="game-input">
                        <option disabled selected value="">Status</option>
                        <option>Want to Play</option>
                        <option>Playing</option>
                        <option>Completed</option>
                        <option>Abandoned</option>
                    </select>

                    <input type="number" name="userRating" min="1" max="5" placeholder="Rating (1–5)" class="game-input">
                </div>

                <textarea name="userReview" placeholder="Write your review..." class="game-textarea"></textarea>
                <textarea name="notes" placeholder="Addiitonal notes..." class="game-textarea"></textarea>

                <button type="submit" class="game-submit-btn">Add Game</button>

                <% if (typeof error !== 'undefined' && error) { %>
                    <p class="game-form-error"><%= error %></p>
                <% } %>
            </form>
        </div>
    </main>
</body>
</html>